name: 部署到 GitHub Pages

on:
  # 在推送到 main 分支时触发
  push:
    branches: ["main"]
  # 允许手动触发
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限以允许部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许一个并发部署，跳过正在运行和最新队列之间的运行队列
# 但是，不取消正在进行的运行，因为我们希望这些生产部署完成
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 构建任务
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 代码
        uses: actions/checkout@v6.0.2
        
      - name: 设置 Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "20"
          
      - name: 设置 Pages
        uses: actions/configure-pages@v5.0.0
        
      - name: 安装依赖
        run: npm install
        
      - name: 构建 Next.js
        run: npm run build
        
      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: ./out

  # 部署任务
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
